[submodule "wf-gen/tyk-analytics"]
	path = wf-gen/tyk-analytics
	url = git@github.com:TykTechnologies/tyk-analytics.git
[submodule "wf-gen/tyk-pump"]
	path = wf-gen/tyk-pump
	url = git@github.com:TykTechnologies/tyk-pump.git
[submodule "wf-gen/tyk-sink"]
	path = wf-gen/tyk-sink
	url = git@github.com:TykTechnologies/tyk-sink.git
[submodule "wf-gen/tyk"]
	path = wf-gen/tyk
	url = git@github.com:TykTechnologies/tyk.git
