# cloud-config for bastion, assumed to be al2023
# templated for EFS mounts

ssh_keys:
  ecdsa_private: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAaAAAABNlY2RzYS
    1zaGEyLW5pc3RwMjU2AAAACG5pc3RwMjU2AAAAQQQCddTCZMATfze6abtJ9SXB0Kllu10O
    FQ251zZUZ/MpDhHLt2fmSns9S26poTC1uS+mNDthLFuEXKnszeA3R/t4AAAA0JcMZOuXDG
    TrAAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBAJ11MJkwBN/N7pp
    u0n1JcHQqWW7XQ4VDbnXNlRn8ykOEcu3Z+ZKez1LbqmhMLW5L6Y0O2EsW4RcqezN4DdH+3
    gAAAAhAIG0NJr/cBr7jZU9M3Kls2qxmS1RvWQzNS/YRZtOotHHAAAAM3Jvb3RAaXAtMTAt
    OTEtMjQwLTEzMC5ldS1jZW50cmFsLTEuY29tcHV0ZS5pbnRlcm5hbAECAwQ=
    -----END OPENSSH PRIVATE KEY-----
  ecdsa_public: |
    ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBAJ11MJkwBN/N7ppu0n1JcHQqWW7XQ4VDbnXNlRn8ykOEcu3Z+ZKez1LbqmhMLW5L6Y0O2EsW4RcqezN4DdH+3g= root@bastion.dev.tyk.technology

ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8ALCOd33gsB8vao1eFdiwsTg9hDqnHHVEKWrfMGJGB7ZXvUfc97ge3Lz9GroSjVZvx94uLWCoGO886RGJ35dHFcLztpa1x1gf6QeK2GqtFU2+CVJ8es0QP0//ADcGoEYawSSrcfBDCHx/DQLrIN/d48G20vNZ0JSdqPN26seZeRhe33nSZZ+j55O+Ss4R43N90o32r9WvbYqUHoe+qzpvInz2RWSjx2xF457FeMNbeKujq9pZewmRnIZ/QmiMfVki/W61PQK/20sMFn+pad83wtmzivJjnMd3I7xKWBJMEKrnP2KfqXmFIYDPg/pmDCt/Huz4dy4I9dOqUQz7I5iv ilijabojanovic@Ilijas-MacBook-Pro.local
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCi94TW0M9UuW3SKmWLUR/aBUXOS7XdQ5Rs/Gixr4R6yrClZq17ONVRkUxsj0eCTOW30pSqvroKv00Q4pd7JD2g9cz+o0nCeFzN0jl/7PCy5iOkmr0DBz3XDMKDvGduyadFn8Um+ySFsqBa9H8v2KZL2BQmzGEiD5aY30HxNbdyUaPBkQQ/i80STP6fRuHMWLFRIlkobzKyXdFsU8FCjcJEgRw3Lgy1cbE93K0JpDK+GstRG3tOwnXpvloTMncKZatmxhZaSJbnClVBFljeVwxUM+dVhp+RXwaKNkQAr9a5iRH+oUdbuwcwuxyyrmaFcApQDtddtZoV8fIs/In31JdAbEdROR92C2BVpb8GbUCl6MYSHiydfzxQlFNDWdfqv+cLE4IYqJX2YGk41D4APsNnZQcFcHxkjhAFw4kgy/Et+kKNlDFla+yJZItCKRFYsCwzM/3XTOZwK1LwWcsCnw1Lnf6nqVKwA/xa4MBzeHyX0tkkZx2WvzBTRwxEJEgBfrcMjipdvsdYhbVQYCvcAwMMUMjSGnLDfpV5duh7n1bTqNi/3Ogrb5+1OVil0o7ijy0KFOXYZA7m6DZ5zQeD5W8p//gGXCLAqFO/RqEeVfSoh5l0/2i2Zipdmg/e2CNC67Tguh0WhqnrwLf6ipGbJgwppG2RenWmyUrop3VD/f4Wgw== kiki@Estebans-MacBook-Pro.local
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB20kCeQniG3EmynWupaq1SWwwHQG+wj4GQYj3+xY9k4 alok@gauss
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBOXAil4Rjbp8eJ53gI5tvOpOn5xhVeko733hDuUbJ++ asutosh@tyk.io

yum_repos:
  mongodb-org:
    baseurl: https://repo.mongodb.org/yum/amazon/2023/mongodb-org/7.0/$basearch
    enabled: true
    failovermethod: priority
    gpgcheck: true
    gpgkey: https://pgp.mongodb.com/server-7.0.asc
    name: MongoDB community edition 7.0

packages:
 - mongodb-mongosh
 - amazon-efs-utils

mounts:
%{ for m in efs_mounts ~}
  - ["${m.dev}:/", "${m.mp}", efs, "defaults,_netdev,nofail", 0, 0 ]
%{ endfor ~}

runcmd:
  - mount -a

# Local Variables:
# mode: yaml-ts
# End:
